.container {
  display: flex;
  margin: 0 auto;
  width: 270px;
  letter-spacing: 1.2px;
  font-weight: 100;
  font-size: 12px;
  font-family: "RedditSans-Regular";
}

.left {
  margin-top: 5px;
  height: 40px;
  width: 40px;
}

.left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.right {
  margin-left: 15px;
}

.right ul {
  list-style: none;
  color: #fff;
}

.right ul li {
  padding: 5px;
}

@media screen and (min-width: 2000px) {
  .container {
    transform: scale(1.4);
  }
}
